@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@font-face {
    font-family: "Stolzl";
    src: url(../../assets/typefaces/stolzl_bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: "Stolzl";
    src: url(../../assets/typefaces/stolzl_regular.woff);
    font-weight: 400;
}
